<h3>Post Form</h3>
<div class="centered-input-div">
	<input type="text" placeholder="Post Title">
</div>
<div class="centered-input-div">
	<textarea cols="40" rows="5" placeholder="Post Details"></textarea>
</div>
<div class="centered-input-div">
	<input type="text" placeholder="Post Image URL">
</div>
<div class="centered-input-div">
	<input type="text" placeholder="Post URL">
</div>
<div class="centered-input-div">
	<input type="checkbox" id="add-background">
	<label for="add-background"> Add Background</label>
</div>
<div class="centered-input-div">
	<h3 [(ngModel)]="postTitle"></h3>
	<!--<img src="https://opengameart.org/sites/default/files/styles/medium/public/penguin_16x16_prev.png">-->
	<img [(ngModel)]="postImgUrl">
	<p [(ngModel)]="postDetail"></p>
	<a [(ngModel)]="postUrl" [innerText]="postUrl != '' ? 'More Details Here!' : ''"></a>
</div>