<p>Fetching a string array</p>
<ul>
  <li *ngFor='let post of postArray' >{{ post }}</li>
</ul>

<div *ngIf = "objArray.length > 0; then postList else noData"></div>
<ng-template #postList>
  <p>Fetching an object array</p>
  <button (click)="addNewTitle()">Add New Title!</button>
  <ul>
    <h3 *ngFor='let obj of objArray; let i = index'>
      {{ i }} {{ obj.postTitle }}
      <button (click)="removeTitle(i)">Remove</button>
    </h3>
  </ul>
</ng-template>
<ng-template #noData>
  <p>No Data</p>
  <button (click)="addNewTitle()">Add A Totally New Title!</button>
</ng-template>

<br>
<br>
<br>

<div>
  <button (click)="onStepPress('Step 1')">Step 1</button>
  <button (click)="onStepPress('Step 2')">Step 2</button>
  <button (click)="onStepPress('Step 3')">Step 3</button>
</div>
<br>
<div [ngSwitch] = "stepStatus">
  <div *ngSwitchCase = "'Step 1'">
    <p>Step 1</p>
  </div>
  <div *ngSwitchCase = "'Step 2'">
    <p>Step 2</p>
  </div>
  <div *ngSwitchCase = "'Step 3'">
    <p>Step 3</p>
    <h3>The last one!</h3>
  </div>
  <div *ngSwitchDefault>
    <p>Please, pick a step.</p>
  </div>
</div>

<br>
<br>
<br>

<div>
  <button (click) = "switchTeam()">Switch Team</button>
  <h1
    [ngStyle] = "{
      color : teamStatus ? 'red' : 'blue'
    }"
  >Team Color</h1>
</div>