<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand mb-0 h1">Application</span>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
  </ul>
</nav>

<br>
<br>
<br>

<form class="container-sm">
  <h3>Fill Form</h3>
  <br>
  <div class="form-group">
    <label for="inputFullName">Full Name</label>
    <input type="text" class="form-control" id="inputFullName">
  </div>
  <div class="form-group">
    <label for="inputEMail">Email address</label>
    <input type="email" class="form-control" id="inputEMail" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="inputAddress">Address</label>
    <textarea col='10' row='10' class="form-control" id="inputAddress"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 