<p>Fetching a string array</p>
<ul>
  <li *ngFor='let post of postArray' >{{ post }}</li>
</ul>

<div *ngIf = "objArray.length > 0; then postList else noData"></div>
<ng-template #postList>
  <p>Fetching an object array</p>
  <button (click)="addNewTitle()">Add New Title!</button>
  <ul>
    <h3 *ngFor='let obj of objArray; let i = index'>
      {{ i }} {{ obj.postTitle }}
      <button (click)="removeTitle(i)">Remove</button>
    </h3>
  </ul>
</ng-template>
<ng-template #noData>
  <p>No Data</p>
  <button (click)="addNewTitle()">Add A Totally New Title!</button>
</ng-template>